{% load static %}
{% include 'customer_header.html' %}
<section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/bg_2.jpg' %}');" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-0 bread">Addcatagory Edit</h1>
			</div>
        </div>
	</div>
    </section>
<br>
<br>
<form  align="center" method ="POST" class="post-form" action="{% url 'addcatagory_update' %}">
    {% csrf_token %}
    <div class="container h-100">
        <h1 class="fs-4 card-title fw-bold mb-4">Update Here</h1>
        <div class="mb-2 w-100">
            <label class="mb-2 text-muted" for="id">Id</label>
            <input id="id" type="id"  name="id" value="{{addcatagory.id}}" required readonly>
        </div>
        <div class="mb-2 w-100">
            <label class="mb-2 text-muted" for="title">Title</label>
            <input id="title" type="text"  name="title" value="{{addcatagory.title}}" required autofocus>
        </div>
        <div class="mb-2 w-100">
                <label class="text-muted" for="descreption">Descreption</label>
            <input id="descreption"  type="text" name="descreption" value="{{addcatagory.descreption}}" required>
        </div>
        <div class="mb-2 w-100">
                <label class="text-muted" for="catagory">catagory</label>
            <input id="catagory" type="text" name="catagory" value="{{addcatagory.catagory}}" required>
        </div>
        <div class="mb-2 w-100">
                <label class="text-muted" for="priority">priority</label>
            <input id="priority" type="text" name="priority" value="{{addcatagory.priority}}" required>
        </div>
        <br>
        <button type="submit" class="btn btn-primary ms-auto">submit</button><br>
    </div>
</form>
{% include 'footer.html' %}
