{% load static %}
{% include 'admin_header.html' %}

<section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/bg_2.jpg' %}');" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-0 bread">Admin_View_Customer</h1>
			</div>
        </div>
	</div>
 </section>
<br>
<table align="center" border="2" cellpadding="10" cellspacing="0" width="80%">
	<thead>
	<tr>
		<th>Id</th>
		<th>Email</th>
		<th>Password</th>
		<th>Fullname</th>
		<th>Mobile</th>
		<th>Address</th>
		<th>City</th>
	</tr>
    </thead>
	<tbody>
	{% for customer in customer  %}
	<tr>
		<td>{{customer.id}}</td>
		<td>{{customer.email}}</td>
		<td>{{customer.password}}</td>
		<td>{{customer.fullname}}</td>
		<td>{{customer.mobile}}</td>
		<td>{{customer.address}}</td>
		<td>{{customer.city}}</td>
	</tr>
	{% endfor %}
	</tbody>
</table><br>
{% include 'footer.html' %}

