{% load static %}
{%  include 'header.html' %}

    <div class="hero-wrap js-fullheight" style="background-image: url('{% static 'images/bg_1.jpg' %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-start" data-scrollax-parent="true">
          <div class="col-md-7 ftco-animate">
<!--          	<h2 class="subheading">Welcome to Complaint Management</h2>-->
<!--          	<h1 class="mb-4">Complaint us for your Inconvenience</h1>-->
<!--						<p class="mb-0"><a href="{% url 'customer' %}" class="btn btn-primary px-4 py-3">Login</a> <a href="{% url 'contact' %}" class="btn btn-white px-4 py-3">Contact us</a></p>-->
          </div>
        </div>
      </div>
    </div>

<!--    <section class="ftco-section ftco-book ftco-no-pt ftco-no-pb">-->
<!--    	<div class="container">-->
<!--	    	<div class="row justify-content-end">-->
<!--	    		<div class="col-lg-4">-->
<!--						<form action="#" class="appointment-form">-->
<!--							<h3 class="mb-3">Book your apartment</h3>-->
<!--							<div class="row">-->
<!--								<div class="col-md-12">-->
<!--									<div class="form-group">-->
<!--			    					<input type="text" class="form-control" placeholder="Full Name">-->
<!--			    				</div>-->
<!--								</div>-->
<!--								<div class="col-md-6">-->
<!--									<div class="form-group">-->
<!--			    					<div class="input-wrap">-->
<!--			            		<div class="icon"><span class="ion-md-calendar"></span></div>-->
<!--			            		<input type="text" class="form-control appointment_date-check-in" placeholder="Check-In">-->
<!--		            		</div>-->
<!--			    				</div>-->
<!--								</div>-->
<!--								<div class="col-md-6">-->
<!--									<div class="form-group">-->
<!--			    					<div class="input-wrap">-->
<!--			            		<div class="icon"><span class="ion-md-calendar"></span></div>-->
<!--			            		<input type="text" class="form-control appointment_date-check-out" placeholder="Check-Out">-->
<!--		            		</div>-->
<!--			    				</div>-->
<!--								</div>-->
<!--								<div class="col-md-6">-->
<!--									<div class="form-group">-->
<!--			    					<div class="form-field">-->
<!--	          					<div class="select-wrap">-->
<!--	                      <div class="icon"><span class="fa fa-chevron-down"></span></div>-->
<!--	                      <select name="" id="" class="form-control">-->
<!--	                      	<option value="">Adults</option>-->
<!--	                        <option value="">1</option>-->
<!--	                        <option value="">2</option>-->
<!--	                        <option value="">3</option>-->
<!--	                        <option value="">4</option>-->
<!--	                        <option value="">5</option>-->
<!--	                      </select>-->
<!--	                    </div>-->
<!--			              </div>-->
<!--			    				</div>-->
<!--								</div>-->
<!--								<div class="col-md-6">-->
<!--									<div class="form-group">-->
<!--			    					<div class="form-field">-->
<!--	          					<div class="select-wrap">-->
<!--	                      <div class="icon"><span class="fa fa-chevron-down"></span></div>-->
<!--	                      <select name="" id="" class="form-control">-->
<!--	                      	<option value="">Children</option>-->
<!--	                        <option value="">1</option>-->
<!--	                        <option value="">2</option>-->
<!--	                        <option value="">3</option>-->
<!--	                        <option value="">4</option>-->
<!--	                        <option value="">5</option>-->
<!--	                      </select>-->
<!--	                    </div>-->
<!--			              </div>-->
<!--			    				</div>-->
<!--								</div>-->
<!--								<div class="col-md-6">-->
<!--									<div class="form-group">-->
<!--			    					<input type="text" class="form-control" placeholder="Phone number">-->
<!--			    				</div>-->
<!--								</div>-->
<!--								<div class="col-md-6">-->
<!--									<div class="form-group">-->
<!--			    					<div class="input-wrap">-->
<!--			            		<div class="icon"><span class="ion-ios-clock"></span></div>-->
<!--			            		<input type="text" class="form-control appointment_time" placeholder="Time">-->
<!--		            		</div>-->
<!--			    				</div>-->
<!--								</div>-->
<!--								<div class="col-md-12">-->
<!--									<div class="form-group">-->
<!--			              <input type="submit" value="Book Appartment Now" class="btn btn-primary py-3 px-4">-->
<!--			            </div>-->
<!--								</div>-->
<!--							</div>-->
<!--	    			</form>-->
<!--	    		</div>-->
<!--	    	</div>-->
<!--	    </div>-->
<!--    </section>-->
   
<!--    <section class="ftco-section ftco-services">-->
<!--    	<div class="container">-->
<!--    		<div class="row">-->
<!--          <div class="col-md-4 d-flex services align-self-stretch px-4 ftco-animate">-->
<!--            <div class="d-block services-wrap text-center">-->
<!--              <div class="img" style="background-image: url({% static 'images/services-1.jpg' %});"></div>-->
<!--              <div class="media-body py-4 px-3">-->
<!--                <h3 class="heading">Map Direction</h3>-->
<!--                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>-->
<!--                <p><a href="#" class="btn btn-primary">Read more</a></p>-->
<!--              </div>-->
<!--            </div>      -->
<!--          </div>-->
<!--          <div class="col-md-4 d-flex services align-self-stretch px-4 ftco-animate">-->
<!--            <div class="d-block services-wrap text-center">-->
<!--              <div class="img" style="background-image: url({% static 'images/services-2.jpg' %});"></div>-->
<!--              <div class="media-body py-4 px-3">-->
<!--                <h3 class="heading">Accomodation Services</h3>-->
<!--                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>-->
<!--                <p><a href="#" class="btn btn-primary">Read more</a></p>-->
<!--              </div>-->
<!--            </div>    -->
<!--          </div>-->
<!--          <div class="col-md-4 d-flex services align-self-stretch px-4 ftco-animate">-->
<!--            <div class="d-block services-wrap text-center">-->
<!--              <div class="img" style="background-image: url({% static 'images/services-3.jpg' %});"></div>-->
<!--              <div class="media-body py-4 px-3">-->
<!--                <h3 class="heading">Great Experience</h3>-->
<!--                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>-->
<!--                <p><a href="#" class="btn btn-primary">Read more</a></p>-->
<!--              </div>-->
<!--            </div>      -->
<!--          </div>-->
<!--        </div>-->
<!--    	</div>-->
<!--    </section>-->

<!--    <section class="ftco-section bg-light">-->
<!--			<div class="container-fluid px-md-0">-->
<!--				<div class="row no-gutters justify-content-center pb-5 mb-3">-->
<!--          <div class="col-md-7 heading-section text-center ftco-animate">-->
<!--            <h2>Apartment Room</h2>-->
<!--          </div>-->
<!--        </div>-->
<!--				<div class="row no-gutters">-->
<!--    			<div class="col-lg-6">-->
<!--    				<div class="room-wrap d-md-flex">-->
<!--    					<a href="#" class="img" style="background-image: url({% static 'images/room-1.jpg' %});"></a>-->
<!--    					<div class="half left-arrow d-flex align-items-center">-->
<!--    						<div class="text p-4 p-xl-5 text-center">-->
<!--    							<p class="star mb-0"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></p>-->
<!--    							&lt;!&ndash; <p class="mb-0"><span class="price mr-1">$120.00</span> <span class="per">per night</span></p> &ndash;&gt;-->
<!--	    						<h3 class="mb-3"><a href="rooms.html">Suite Room</a></h3>-->
<!--	    						<ul class="list-accomodation">-->
<!--	    							<li><span>Max:</span> 3 Persons</li>-->
<!--	    							<li><span>Size:</span> 45 m2</li>-->
<!--	    							<li><span>View:</span> Sea View</li>-->
<!--	    							<li><span>Bed:</span> 1</li>-->
<!--	    						</ul>-->
<!--	    						<p class="pt-1"><a href="room-single.html" class="btn-custom px-3 py-2">View Room Details <span class="icon-long-arrow-right"></span></a></p>-->
<!--    						</div>-->
<!--    					</div>-->
<!--    				</div>-->
<!--    			</div>-->
<!--    			<div class="col-lg-6">-->
<!--    				<div class="room-wrap d-md-flex">-->
<!--    					<a href="#" class="img" style="background-image: url({% static 'images/room-2.jpg' %});"></a>-->
<!--    					<div class="half left-arrow d-flex align-items-center">-->
<!--    						<div class="text p-4 p-xl-5 text-center">-->
<!--    							<p class="star mb-0"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></p>-->
<!--    							&lt;!&ndash; <p class="mb-0"><span class="price mr-1">$120.00</span> <span class="per">per night</span></p> &ndash;&gt;-->
<!--	    						<h3 class="mb-3"><a href="rooms.html">Standard Room</a></h3>-->
<!--									<ul class="list-accomodation">-->
<!--	    							<li><span>Max:</span> 3 Persons</li>-->
<!--	    							<li><span>Size:</span> 45 m2</li>-->
<!--	    							<li><span>View:</span> Sea View</li>-->
<!--	    							<li><span>Bed:</span> 1</li>-->
<!--	    						</ul>-->
<!--	    						<p class="pt-1"><a href="room-single.html" class="btn-custom px-3 py-2">View Room Details <span class="icon-long-arrow-right"></span></a></p>-->
<!--    						</div>-->
<!--    					</div>-->
<!--    				</div>-->
<!--    			</div>-->

<!--    			<div class="col-lg-6">-->
<!--    				<div class="room-wrap d-md-flex">-->
<!--    					<a href="#" class="img order-md-last" style="background-image: url({% static 'images/room-3.jpg' %});"></a>-->
<!--    					<div class="half right-arrow d-flex align-items-center">-->
<!--    						<div class="text p-4 p-xl-5 text-center">-->
<!--    							<p class="star mb-0"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></p>-->
<!--    							&lt;!&ndash; <p class="mb-0"><span class="price mr-1">$120.00</span> <span class="per">per night</span></p> &ndash;&gt;-->
<!--	    						<h3 class="mb-3"><a href="rooms.html">Family Room</a></h3>-->
<!--									<ul class="list-accomodation">-->
<!--	    							<li><span>Max:</span> 3 Persons</li>-->
<!--	    							<li><span>Size:</span> 45 m2</li>-->
<!--	    							<li><span>View:</span> Sea View</li>-->
<!--	    							<li><span>Bed:</span> 1</li>-->
<!--	    						</ul>-->
<!--	    						<p class="pt-1"><a href="room-single.html" class="btn-custom px-3 py-2">View Room Details <span class="icon-long-arrow-right"></span></a></p>-->
<!--    						</div>-->
<!--    					</div>-->
<!--    				</div>-->
<!--    			</div>-->
<!--    			<div class="col-lg-6">-->
<!--    				<div class="room-wrap d-md-flex">-->
<!--    					<a href="#" class="img order-md-last" style="background-image: url({% static 'images/room-4.jpg' %});"></a>-->
<!--    					<div class="half right-arrow d-flex align-items-center">-->
<!--    						<div class="text p-4 p-xl-5 text-center">-->
<!--    							<p class="star mb-0"><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span><span class="fa fa-star"></span></p>-->
<!--    							&lt;!&ndash; <p class="mb-0"><span class="price mr-1">$120.00</span> <span class="per">per night</span></p> &ndash;&gt;-->
<!--	    						<h3 class="mb-3"><a href="rooms.html">Deluxe Room</a></h3>-->
<!--									<ul class="list-accomodation">-->
<!--	    							<li><span>Max:</span> 3 Persons</li>-->
<!--	    							<li><span>Size:</span> 45 m2</li>-->
<!--	    							<li><span>View:</span> Sea View</li>-->
<!--	    							<li><span>Bed:</span> 1</li>-->
<!--	    						</ul>-->
<!--	    						<p class="pt-1"><a href="room-single.html" class="btn-custom px-3 py-2">View Room Details <span class="icon-long-arrow-right"></span></a></p>-->
<!--    						</div>-->
<!--    					</div>-->
<!--    				</div>-->
<!--    			</div>-->
<!--    		</div>-->
<!--			</div>-->
<!--		</section>-->


<!--    <section class="ftco-section testimony-section bg-light">-->
<!--      <div class="container">-->
<!--        <div class="row justify-content-center pb-5 mb-3">-->
<!--          <div class="col-md-7 heading-section text-center ftco-animate">-->
<!--            <h2>Happy Clients &amp; Feedbacks</h2>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row ftco-animate">-->
<!--          <div class="col-md-12">-->
<!--            <div class="carousel-testimony owl-carousel">-->
<!--							<div class="item">-->
<!--                <div class="testimony-wrap d-flex">-->
<!--                  <div class="user-img" style="background-image: url({% static 'images/person_1.jpg' %})">-->
<!--                  </div>-->
<!--                  <div class="text pl-4">-->
<!--                  	<span class="quote d-flex align-items-center justify-content-center">-->
<!--                      <i class="fa fa-quote-left"></i>-->
<!--                    </span>-->
<!--                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>-->
<!--                    <p class="name">Racky Henderson</p>-->
<!--                    <span class="position">Father</span>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="item">-->
<!--                <div class="testimony-wrap d-flex">-->
<!--                  <div class="user-img" style="background-image: url({% static 'images/person_2.jpg' %})">-->
<!--                  </div>-->
<!--                  <div class="text pl-4">-->
<!--                  	<span class="quote d-flex align-items-center justify-content-center">-->
<!--                      <i class="fa fa-quote-left"></i>-->
<!--                    </span>-->
<!--                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>-->
<!--                    <p class="name">Henry Dee</p>-->
<!--                    <span class="position">Businesswoman</span>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="item">-->
<!--                <div class="testimony-wrap d-flex">-->
<!--                  <div class="user-img" style="background-image: url({% static 'images/person_3.jpg' %})">-->
<!--                  </div>-->
<!--                  <div class="text pl-4">-->
<!--                  	<span class="quote d-flex align-items-center justify-content-center">-->
<!--                      <i class="fa fa-quote-left"></i>-->
<!--                    </span>-->
<!--                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>-->
<!--                    <p class="name">Mark Huff</p>-->
<!--                    <span class="position">Businesswoman</span>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="item">-->
<!--                <div class="testimony-wrap d-flex">-->
<!--                  <div class="user-img" style="background-image: url({% static 'images/person_4.jpg' %})">-->
<!--                  </div>-->
<!--                  <div class="text pl-4">-->
<!--                  	<span class="quote d-flex align-items-center justify-content-center">-->
<!--                      <i class="fa fa-quote-left"></i>-->
<!--                    </span>-->
<!--                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>-->
<!--                    <p class="name">Rodel Golez</p>-->
<!--                    <span class="position">Businesswoman</span>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="item">-->
<!--                <div class="testimony-wrap d-flex">-->
<!--                  <div class="user-img" style="background-image: url({% static 'images/person_1.jpg' %})">-->
<!--                  </div>-->
<!--                  <div class="text pl-4">-->
<!--                  	<span class="quote d-flex align-items-center justify-content-center">-->
<!--                      <i class="fa fa-quote-left"></i>-->
<!--                    </span>-->
<!--                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>-->
<!--                    <p class="name">Ken Bosh</p>-->
<!--                    <span class="position">Businesswoman</span>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--						</div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->

<!--    <section class="ftco-section bg-light">-->
<!--			<div class="container">-->
<!--				<div class="row no-gutters">-->
<!--					<div class="col-md-6 wrap-about">-->
<!--						<div class="img img-2 mb-4" style="background-image: url({% static 'images/about.jpg' %});">-->
<!--						</div>-->
<!--						<h2>The most recommended vacation rental</h2>-->
<!--						<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.</p>-->
<!--					</div>-->
<!--					<div class="col-md-6 wrap-about ftco-animate">-->
<!--	          <div class="heading-section">-->
<!--	          	<div class="pl-md-5">-->
<!--		            <h2 class="mb-2">What we offer</h2>-->
<!--	            </div>-->
<!--	          </div>-->
<!--	          <div class="pl-md-5">-->
<!--							<p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>-->
<!--							<div class="row">-->
<!--		            <div class="services-2 col-lg-6 d-flex w-100">-->
<!--		              <div class="icon d-flex justify-content-center align-items-center">-->
<!--		            		<span class="flaticon-diet"></span>-->
<!--		              </div>-->
<!--		              <div class="media-body pl-3">-->
<!--		                <h3 class="heading">Tea Coffee</h3>-->
<!--		                <p>A small river named Duden flows by their place and supplies it with the necessary</p>-->
<!--		              </div>-->
<!--		            </div> -->
<!--		            <div class="services-2 col-lg-6 d-flex w-100">-->
<!--		              <div class="icon d-flex justify-content-center align-items-center">-->
<!--		            		<span class="flaticon-workout"></span>-->
<!--		              </div>-->
<!--		              <div class="media-body pl-3">-->
<!--		                <h3 class="heading">Hot Showers</h3>-->
<!--		                <p>A small river named Duden flows by their place and supplies it with the necessary</p>-->
<!--		              </div>-->
<!--		            </div>-->
<!--		            <div class="services-2 col-lg-6 d-flex w-100">-->
<!--		              <div class="icon d-flex justify-content-center align-items-center">-->
<!--		            		<span class="flaticon-diet-1"></span>-->
<!--		              </div>-->
<!--		              <div class="media-body pl-3">-->
<!--		                <h3 class="heading">Laundry</h3>-->
<!--		                <p>A small river named Duden flows by their place and supplies it with the necessary</p>-->
<!--		              </div>-->
<!--		            </div>      -->
<!--		            <div class="services-2 col-lg-6 d-flex w-100">-->
<!--		              <div class="icon d-flex justify-content-center align-items-center">-->
<!--		            		<span class="flaticon-first"></span>-->
<!--		              </div>-->
<!--		              <div class="media-body pl-3">-->
<!--		                <h3 class="heading">Air Conditioning</h3>-->
<!--		                <p>A small river named Duden flows by their place and supplies it with the necessary</p>-->
<!--		              </div>-->
<!--		            </div>-->
<!--		            <div class="services-2 col-lg-6 d-flex w-100">-->
<!--		              <div class="icon d-flex justify-content-center align-items-center">-->
<!--		            		<span class="flaticon-first"></span>-->
<!--		              </div>-->
<!--		              <div class="media-body pl-3">-->
<!--		                <h3 class="heading">Free Wifi</h3>-->
<!--		                <p>A small river named Duden flows by their place and supplies it with the necessary</p>-->
<!--		              </div>-->
<!--		            </div> -->
<!--		            <div class="services-2 col-lg-6 d-flex w-100">-->
<!--		              <div class="icon d-flex justify-content-center align-items-center">-->
<!--		            		<span class="flaticon-first"></span>-->
<!--		              </div>-->
<!--		              <div class="media-body pl-3">-->
<!--		                <h3 class="heading">Kitchen</h3>-->
<!--		                <p>A small river named Duden flows by their place and supplies it with the necessary</p>-->
<!--		              </div>-->
<!--		            </div> -->
<!--		            <div class="services-2 col-lg-6 d-flex w-100">-->
<!--		              <div class="icon d-flex justify-content-center align-items-center">-->
<!--		            		<span class="flaticon-first"></span>-->
<!--		              </div>-->
<!--		              <div class="media-body pl-3">-->
<!--		                <h3 class="heading">Ironing</h3>-->
<!--		                <p>A small river named Duden flows by their place and supplies it with the necessary</p>-->
<!--		              </div>-->
<!--		            </div> -->
<!--		            <div class="services-2 col-lg-6 d-flex w-100">-->
<!--		              <div class="icon d-flex justify-content-center align-items-center">-->
<!--		            		<span class="flaticon-first"></span>-->
<!--		              </div>-->
<!--		              <div class="media-body pl-3">-->
<!--		                <h3 class="heading">Lovkers</h3>-->
<!--		                <p>A small river named Duden flows by their place and supplies it with the necessary</p>-->
<!--		              </div>-->
<!--		            </div>-->
<!--		          </div>  -->
<!--						</div>-->
<!--					</div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</section>-->
		
		<section class="ftco-intro" style="background-image: url({% static 'images/bg_1.jpg' %});" data-stellar-background-ratio="0.5">
			<div class="overlay"></div>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-9 text-center">
						<h2>Ready to get started</h2>
						<p class="mb-4">No complaint... is more common than that of a scarcity of money.</p>
						<p class="mb-0"><a href="{% url 'customer' %}" class="btn btn-primary px-4 py-3">Login</a> <a href="{% url 'contact' %}" class="btn btn-white px-4 py-3">Contact us</a></p>
					</div>
				</div>
			</div>
		</section>

<!--    <section class="ftco-section bg-light">-->
<!--      <div class="container">-->
<!--        <div class="row justify-content-center pb-5 mb-3">-->
<!--          <div class="col-md-7 heading-section text-center ftco-animate">-->
<!--            <h2>Latest news from our blog</h2>-->
<!--            <span class="subheading">News &amp; Blog</span>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="row d-flex">-->
<!--          <div class="col-md-4 d-flex ftco-animate">-->
<!--            <div class="blog-entry align-self-stretch">-->
<!--              <a href="blog-single.html" class="block-20 rounded" style="background-image: url('{% static 'images/image_1.jpg' %}');">-->
<!--              </a>-->
<!--              <div class="text p-4 text-center">-->
<!--                <h3 class="heading"><a href="#">Work Hard, Party Hard in a Luxury Chalet in the Alps</a></h3>-->
<!--                <div class="meta mb-2">-->
<!--                  <div><a href="#">January 30, 2020</a></div>-->
<!--                  <div><a href="#">Admin</a></div>-->
<!--                  <div><a href="#" class="meta-chat"><span class="fa fa-comment"></span> 3</a></div>-->
<!--                </div>-->
<!--                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-4 d-flex ftco-animate">-->
<!--            <div class="blog-entry align-self-stretch">-->
<!--              <a href="blog-single.html" class="block-20 rounded" style="background-image: url('{% static 'images/image_2.jpg' %}');">-->
<!--              </a>-->
<!--              <div class="text p-4 text-center">-->
<!--                <h3 class="heading"><a href="#">Work Hard, Party Hard in a Luxury Chalet in the Alps</a></h3>-->
<!--                <div class="meta mb-2">-->
<!--                  <div><a href="#">January 30, 2020</a></div>-->
<!--                  <div><a href="#">Admin</a></div>-->
<!--                  <div><a href="#" class="meta-chat"><span class="fa fa-comment"></span> 3</a></div>-->
<!--                </div>-->
<!--                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="col-md-4 d-flex ftco-animate">-->
<!--            <div class="blog-entry align-self-stretch">-->
<!--              <a href="blog-single.html" class="block-20 rounded" style="background-image: url('{% static 'images/image_3.jpg' %}');">-->
<!--              </a>-->
<!--              <div class="text p-4 text-center">-->
<!--                <h3 class="heading"><a href="#">Work Hard, Party Hard in a Luxury Chalet in the Alps</a></h3>-->
<!--                <div class="meta mb-2">-->
<!--                  <div><a href="#">January 30, 2020</a></div>-->
<!--                  <div><a href="#">Admin</a></div>-->
<!--                  <div><a href="#" class="meta-chat"><span class="fa fa-comment"></span> 3</a></div>-->
<!--                </div>-->
<!--                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia</p>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </section>-->

{%  include 'footer.html' %}
