
{% load static %}
{% include 'header.html' %}
<section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'images/bg_2.jpg' %}');" data-stellar-background-ratio="0.5">
	<div class="overlay"></div>
	<div class="container">
		<div class="row no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-0 bread">Solvers Login</h1>
			</div>
        </div>
	</div>
</section>
<form align = "center" method ="POST" class="post-form" action="/solvers_login/">
{% csrf_token %}
    <div class="container h-100"><br>
        <h3 class="fs-4 card-title fw-bold mb-4">Login Here</h3>
        <div class="mb-2 w-100">
            <label class="col-sm-2 col-form-label" for="Email">Email</label>
            <input id="Email" type="email"  name="email" required>
        </div><br>
        <div class="mb-2 w-100">
            <label class="col-sm-2 col-form-label" for="password">Password</label>
            <input id="password" type="password"  name="password" required>
        </div>
        <button type="submit" class="btn btn-primary ">Login</button><br>
        U are not exist? <a href="/solvers_regpage/">Register</a>
    </div>
</form>
{% include 'footer.html' %}
